@use 'global';

.signup-form{
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    height:30vh;    
}

.signup-title{
    text-align: center;
    margin-top: 11%;
    font-weight: 100;
    margin-bottom: 8%;
    color: global.$bg-btn-primary;
}

.signup-credentials {
    width: 60%;
    height: 1em;
    // padding: 2.5%;
    border: 0;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    caret-color: global.$bg-btn-primary;
    color: global.$bg-btn-primary;
}

.signup-btn{
    border: 0;
    padding: 1.5%;
    font-size: 18px;
    width: 20%;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
}

